
body{
    background: #2f2f2f;
    text-align: center;
    font-family: impact, Arial, Helvetica, sans-serif;
}
p{
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    background-color: #3cb371;
    padding: 10px;
    animation: team-logo 3s infinite;
}